@font-face{
    font-family: CatPaw;
    src: url('../../fonts/Cat\ paw.ttf');
}

html {
    height: 100%;
}

.catList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.cat {
    width: 350px;
    height: 350px;
}

img {
    height: 250;
    width: 250px;
    object-fit: cover;
}

.catName {
    font-family: CatPaw;
    text-align: center;
}