@font-face {
    font-family: Prism;
    src: url('../../fonts/Prism-Regular.otf');
}

@font-face {
    font-family: Lemon;
    src: url('../../fonts/DK\ Lemon\ Yellow\ Sun.otf')
}

html {
    height: 100%;
    background-color: lavender;
}

.header {
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: Prism;
    font-size: 80pt;
    font-weight: normal;
}

h2 {
    margin-top: 10px;
    font-family: Lemon;
    font-size: 30pt;
    color: darkslategray;
}

.loading {
    text-align: center;
    color: darkslategray;
    font-size: 60pt;
    font-family: Prism;
}

.cat {
    margin: 2%;
    width: 350px;
    height: 350px;
    background-color: honeydew;
    border: solid 4px indigo;
    border-radius: 50px;
    color: indigo;
}

.cat:hover {
    background-color: lightskyblue;
    transition-duration: 1s;
}

.catList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.thumbnail {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border: double 4px darkslategray;
    border-radius: 25px;
}

.noImage {
    width: 240px;
    height: 250px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    font-family: Prism;
    color: indigo;
    font-size: 50pt;
    border: double 4px darkslategray;
    border-radius: 25px;
    background-color: gainsboro;
}

a {
    text-decoration: none;
}

.catName {
    margin-top: 15px;
    font-family: Lemon;
    text-align: center;
    font-size: 25pt;
    color: indigo;
}

.pagePic {
    width: 475px;
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: double 5px indigo;
    border-radius: 25px;
}

.noImagePage {
    width: 465px;
    height: 475px;
    padding-left: 10px;
    color: indigo;
    background-color: gainsboro;
    font-size: 100pt;
    margin-top: 5%;
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: double 5px indigo;
    border-radius: 25px;
    font-family: Prism;
}

.catName {
    font-size: 25pt;
    font-family: Lemon;
}

.catNamePage {
    font-family: Prism;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 40pt;
    color: indigo;
    text-align: center;
}

.origin {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 30pt;
    font-family: Lemon;
}

.desc {
    text-align: center;
    font-family: Lemon;
    font-size: 20pt;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    line-height: 22pt;
}

.back {
    font-family: Lemon;
    color: darkslategray;
    font-size: 20pt;
}